#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.flexVDisplay {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.flexVFill {
  flex: 1;
  align-items: stretch;
  overflow: auto;
}

.flexHDisplay {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.flexHDisplayWrap {
  display: flex;
  flex-wrap: wrap;
}

.flexHFill {
  flex: 1;
  overflow: auto;
}

.flexFixed {
  overflow: hidden;
}

.fill {
  width: 100%;
  height: 100%;
}

.hiddenFill {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.scrollFill {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.km_spd_scroll_thickness {
  width: 15px;
  height: 100%;
}
.km_spd_row_scroll {
  width: 15px;
  height: 100%;
}
.km_spd_col_scroll {
  width: 100%;
  height: 15px;
}

