.app {

}

.appBody {
  display: inline-block;
  margin: 0 0 0 10px;
}
.appBody button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.appBody label {
  margin: 0 5px;
}

.appPage {
  background: #dddddd;
  resize: both; /* Enable both horizontal and vertical resizing */
  overflow: auto; /* Required for resize to work */
  width: 400px;
  height: 300px;
  border: 1px solid #ccc;
}

.code {
  background: rgba(244, 255, 55, 0.78);
  font-family: monospace;
}
