.appBody {
  display: inline-block;
}
.appBody button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.appBody label {
  margin: 0 5px;
}

.appPage {
  background: #dddddd;
}

.code {
  background: rgba(244, 255, 55, 0.78);
  font-family: monospace;
}
