.menu button {
  background-color: blue;
  font-size: 0.8em;
  color: white;
  padding: 5px 7px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  margin: 3px 1px;
  border-radius: 5px;
  cursor: pointer;
}

.selected {
  background: yellow !important;
  color: black !important;
}

.menu {
  border-width: 2px;
  border-style: none;
  border-color: black;
  padding: 0;
  display: inline;
}

.menuBar {
  background-color: #f1eeee;
  border-style: solid solid solid solid;
  border-width: 2px 1px 1px 1px;
  border-color: black;
}
