# See https://docs.docker.com/reference/compose-file/

services:
  demo_ui:
# #if mounted or local
    image: ${DEMO_UI_IMAGE}:latest
# #else
#    image: localhost:5000/${DEMO_UI_IMAGE}:${DEMO_UI_VERSION}
# #endif
    container_name: demo_ui
# #if mounted or local
    build: images/demo_ui
    environment:
      NO_CORS: 1
# #endif
    ports:
      - name: web
        target: 80
        published: "8080"
        protocol: tcp
        app_protocol: http
        mode: host

    volumes:
      - "version_data:/mnt/version_data"
# #if mounted
#      - "${DEMO_UI_WWW_PATH}:/var/www"
# #endif

    networks:
      - frontend
      - backend

  demo_mariadb:
# #if mounted or local
    image: demo_mariadb:latest
# #else
#    image: localhost:5000/demo_mariadb:${DEMO_MARIADB_VERSION}
# #endif
    container_name: demo_mariadb
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: "${MARIADB_ROOT_PASSWORD}"
    volumes:
      - "${MARIADB_BACKUP_PATH}:/backup"
      - demo_mariadb_mysql:/var/lib/mysql
      - "version_data:/mnt/version_data"
    networks:
      - backend

  demo_java:
# #if mounted or local
    image: demo_java:latest
# #else
#    image: localhost:5000/demo_java:${DEMO_JAVA_VERSION}
# #endif
    container_name: demo_java
    hostname: demojava
    restart: always
    ports:
      - '8888:8080'
    volumes:
      - "version_data:/mnt/version_data"
    networks:
      - frontend
      - backend

  demo_cpp:
# #if mounted or local
    image: ${DEMO_CPP_IMAGE}:latest
# #else
#    image: localhost:5000/${DEMO_CPP_IMAGE}:${DEMO_CPP_VERSION}
# #endif
    container_name: demo_cpp
    restart: always
    volumes:
      - "version_data:/mnt/version_data"
    networks:
      - backend
# #if mounted or local
    ports:
      - '18080:${DEMO_CPP_PORT}'
    environment:
      NO_CORS: 1
# #endif


  mariadb_admin:
    image: adminer:${MARIADB_ADMINER_VERSION}
    container_name: mariadb_admin
    restart: always
    ports:
      - '8090:8080'

    networks:
      - backend

networks:
  frontend:
  backend:

volumes:
  demo_mariadb_mysql:
    name: demo_mariadb_mysql
  version_data:
    name: version_data